# Ignore everything
*

# But not these files...
!.gitignore
!scripts/
!scripts/*
!scripts/*/*
!scripts/*/*/*
!scripts/*/*/*/*
!scripts/*/*/*/*/*
!scripts/*/*/*/*/*/*
!scripts/*/*/*/*/*/*/*
!scripts/*/*/*/*/*/*/*/*
!scripts/*/*/*/*/*/*/*/*/*
!scripts/*/*/*/*/*/*/*/*/*/*
!README.md
!Malaysian_pop_gen_workflow.Rmd
!shared_files/
!shared_files/*
!shared_files/*/*

# ...even if they are in subdirectories
!*/
